<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="align-center">
            <table class="Dealer">
                <tr>
                    <td ALIGN=CENTER><IMG SRC="images/Dealer.png"></TD>
                    <td ALIGN=CENTER><IMG SRC="images/Hearts_Two.png"></TD>
                </tr>
            </table>
            <table class="Player">
                    <tr>
                        <td ALIGN=CENTER><IMG SRC="images/Clubs_Ace.png"></TD>
                        <td ALIGN=CENTER><IMG SRC="images/Spades_Two.png"></TD>
                    </tr>
            </table>
        </div>
        <div class="col">
        </div>
    </div>
</div>