<a class="btn-link" href="Dashboard"><button type="button" class="btn btn-success btn-back">Back</button></a>
<h1 class="lb-title">Leaderboard</h1>
<table id="leaderboard" class="table-striped sortable">
    <thead>
        <th onclick="sortTable(0)">Username</th>
        <th onclick="sortTable(1)">Money</th>
        <th>Win Ratio</th>
    </thead>
    <tbody>
        @foreach(var ap in ViewBag.AllPlayers)
        {
            <tr>
                <td>@ap.Username</td>
                <td>$ @ap.Money</td>
                <td>@ap.HandsWon / @ap.HandsPlayed</td>
            </tr>
        }
    </tbody>
</table>