<a class="btn-link" href="Dashboard"><button type="button" class="btn btn-success btn-back">Back</button></a>
<table id="leaderboard" class="table-striped sortable">
    <h1 class="lb-title">Leaderboard</h1>
    <thead>
        <th onclick="sortTable(0)">Username</th>
        <th onclick="sortTable(1)">Money</th>
        <th>Game Played</th>
        <th>Win Ratio</th>
    </thead>
    <tbody>
        @for(var i=0; i<ViewBag.AllPlayers.Count; i++)
        {
            <tr>
                <td>@ViewBag.AllPlayers[i].Username</td>
                <td>$@ViewBag.AllPlayers[i].Money</td>
                <td>@ViewBag.AllPlayers[i].HandsPlayed</td>
                <td>@ViewBag.WinRatioList[i]</td>
            </tr>
        }
    </tbody>
</table>