#wrapper{
    width:100%;
    height:100vh;
    background: url(../images/bg.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 106%;
}

.Dealer{
    position: relative;
    top: 15vh;
}
.Player{
    position: relative;
    top: 32vh;
}

.Chip {
    position: relative;
    top: 87vh;
    left: 20vw;
}

