/* #base{
    background-color: rgb(129,6,27);
    background-size: cover;
    height: 950px;;
} */

#wrapper{
    width:1065px;
    height:600px;
    margin:0px auto;
    background: url(../images/bg.png); 
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
    font-family: 'Lobster', cursive;\
}
#Home-bg{
    width:1065px;
    height:600px;
    margin:0px auto;
    background: url(../images/Black-Jack.jpg); 
    /* background-repeat: no-repeat; */
    background-size: cover;
    overflow:hidden;
    font-family: 'Orbitron', sans-serif;
}
.Frontpage{
    margin: 0px auto;
}
.Dealer{
    height:100px;
}
.Player{
    height:100px;
}
.Message{

    text-align:center;
    color: black;
}
.Chip {
  bottom:0;
}
.option {

    font-family: 'Lobster', cursive;
}
.restart{
  
    font-family: 'Lobster', cursive;
    margin:0px;
}
.money{
    color: rgb(212, 200, 183);
    margin-left: 280px;
    margin-top: 7px;
}
.logout{
    margin: 20px;
}
.bet{
    margin-left: 108px;
    font-family: 'Lobster', cursive;
    line-height: 18px;
    font-size: 70%;
}
.DealerHandValue
{
    color: white;
    height: 51px;
}
.PlayerHandValue
{
 
    margin: 0px auto;
    color: white;
}

/* Leaderboard Styling */
.lb-title{
    color: white;
    text-align: center;
    margin: 100px 0 25px 0;
    font-family: 'Lobster', cursive;
}
.btn-link, .btn-link:hover{
    color: white;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}
.btn-back{
    margin-left: 5%;
    margin-top: 20px;
}
#leaderboard{
    background-color: azure;
    min-height: 200px;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    animation-duration: 3s;
    animation-name: slidein;
}
.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
@keyframes slidein {
    from {
      margin-left: 100%;
    }
    to {
        margin-left: 20%;
    }
}
/* HowToPlay Styling */
.htVideo{
    margin-left: 28%;
    margin-top: 5%;
}
.HowToPlay{
    background-color: transparent;
    border: none;    
    height: 55px;
    width: 55px;
    margin-left: 115px;
}
.name{

    color: white;
}

.restart{
    margin-left: 45px;
}

#forceHeight {
    height:401px;
}
.pull-left {
    margin-left:-47px;
}
.pull-left-btn {
    margin-left:-40px;
}