#wrapper{
    width:100%;
    height:100vh;
    background: url(../images/bg.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 106%;
    overflow:hidden;
}

.Dealer{
    position: relative;
    top: 15vh;
    margin: 0px auto;
}
.Player{
    position: relative;
    top: 29vh;
    margin: 0px auto;
}
.Message{
    position: relative;
    top: 22vh;
    text-align:center;
}
.Chip {
    position: relative;
    top: 74vh;
    left: 7vw;
}
.option {
    position: relative;
    top: 76vh;
    left: 8vw;
}
.restart{
    position: relative;
    top: 75vh;
    left: 12vw;
}
.money{
    position: fixed;
    top: 88.5vh;
    left: 77vw;
    color: rgb(212, 200, 183);
}
.logout{
    position: relative;
    top: 3vh;
    right: 18vw;
}
.bet{
    position: relative;
    top: 83vh;
    right: 7vw;
}


